/*-- some extra styles needed only for presentation of styleguide --*/

body {
    overflow: auto;
    margin: 0;
    padding: 0;
    background: transparent url('../img/grid-bg.png');
}

[class*='col-'] > p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    line-height: 2em;
}
/* Navigation*/

ul.nav {
    padding-left: 0;
}

.nav li {
    list-style: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: #0068a5;
}

.nav li:hover {
    background: #eee;
    color: #2a6496;
}

.nav a {
    color: inherit;
    text-decoration: none;
}
/*sections*/

section.fixed-top {
    position: fixed;
    top: 50px;
    border: none;
}

section {
    border: 1px solid #f5f5f5;
    padding: 8px;
    margin: 1em 0;
}

section h2:first-child {
    font-size: 2em;
    padding: 25px 30px 20px;
    margin: 0;
    color: #0068a5;
    border-bottom: 3px solid #eee;
}

section h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
/*subsections*/

section section {
    margin: 1em 0;
}

.sub-section {
    padding: 20px 50px;
    border-top: 1px dashed #ccc;
}

.sub-section h3:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
    color: #474747
}

p.description {
    background: transparent;
    text-align: left;
    line-height: 1.2em;
}

.bg-green {
    background: #27ae60
}

.bg-orange {
    background: #f39c12
}

.bg-red {
    background: #c0392b
}

.no-padding {
    padding: 0;
}

.no-border {
    border: 0 none;
}

.secondary {
    color: #ccc
}

@media (max-width: 800px) {
    section h2:first-child {
        padding-left: 10px;
        padding-right: 10px;
    }
    .sub-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}